# Pandas - Series and Dataframes

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/siddharth/.local/lib/python3.8/site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in /home/siddharth/.local/lib/python3.8/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /home/siddharth/.local/lib/python3.8/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/siddharth/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:

import pandas as pd

print(pd.__version__)

1.4.2

NOTE : A lot of examples are using a local csv file that I have already kept in a local directory where i have made my notebook, we can see the 'nba.csv' file that we are gonna use in the following way :

In [46]:
import pandas as pd
t = pd.read_csv("/home/siddharth/Desktop/Python/Pandas/nba.csv")
print (t)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

# Series :
Pandas Series is a one-dimensional labelled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called indexes. Pandas Series is nothing but a column in an excel sheet. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.

In [30]:
import pandas as pd
import numpy as np


# Creating empty series
ser = pd.Series()

print(ser)

# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])

ser = pd.Series(data)
print(ser)

Series([], dtype: float64)
0    g
1    e
2    e
3    k
4    s
dtype: object

/tmp/ipykernel_26340/2689989380.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [5]:
# import pandas as pd
import pandas as pd
 
# import numpy as np
import numpy as np
 
# simple array
data = np.array(['g','e','e','k','s'])
 
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

Creating a series from Lists:

In order to create a series from list, we have to first create a list after that we can create a series from list.

In [6]:
import pandas as pd
 
# a simple list
list = ['g', 'e', 'e', 'k', 's']
  
# create series form a list
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

There are two ways through which we can access element of series, they are :

    Accessing Element from Series with Position
    Accessing Element Using Label (index)
    
Accessing Element from Series with Position : In order to access the series element refers to the index number. Use the index operator [ ] to access an element in a series. The index must be an integer. In order to access multiple elements from a series, we use Slice operation.

In [7]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
# creating a series
ser = pd.Series(data)
  
  
#retrieve the first element
print(ser[:5])

0    g
1    e
2    e
3    k
4    s
dtype: object

Accessing Element Using Label (index) :
In order to access an element from series, we have to set values by index label. A Series is like a fixed-size dictionary in that you can get and set values by index label.

Accessing a single element using index label

In [8]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data,index=[10,11,12,13,14,15,16,17,18,19,20,21,22])
  
  
# accessing a element using index element
print(ser[16])

o

### Indexing and Selecting Data in Series

Indexing in pandas means simply selecting particular data from a Series. Indexing could mean selecting all the data, some of the data from particular columns. Indexing can also be known as Subset Selection.

Indexing a Series using indexing operator [] :
Indexing operator is used to refer to the square brackets following an object. The .loc and .iloc indexers also use the indexing operator to make selections. In this indexing operator to refer to df[ ].

In [14]:
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("nba.csv")  #nba.csv is the dataset in the same local directory where the notebook is created
   
ser = pd.Series(df['Name']) 
data = ser.head(10)
data

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

In [12]:
# using indexing operator
data[3:6]

3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
Name: Name, dtype: object

### Indexing a Series using .loc[ ] :
This function selects data by refering the explicit index . The df.loc indexer selects data in a different way than just the indexing operator. It can select subsets of data.

In [15]:
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("nba.csv")  
   
ser = pd.Series(df['Name']) 
data = ser.head(10)
data

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

In [16]:
# using .loc[] function
data.loc[3:6]

3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
Name: Name, dtype: object

### Indexing a Series using .iloc[ ] :
This function allows us to retrieve data by position. In order to do that, we’ll need to specify the positions of the data that we want. The df.iloc indexer is very similar to df.loc but only uses integer locations to make its selections.

In [17]:
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("nba.csv")  
   
ser = pd.Series(df['Name']) 
data = ser.head(10)
data

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

In [18]:
# using .iloc[] function
data.iloc[3:6]

3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
Name: Name, dtype: object

### Binary Operation on Series

We can perform binary operation on series like addition, subtraction and many other operation. 
In order to perform binary operation on series we have to use some function like .add(),.sub() etc..

In [23]:
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data,"\n\n",data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

In [24]:
# adding two series using
# .add
data.add(data1, fill_value=0)

a     6.0
b     8.0
c     3.0
d    11.0
e     9.0
dtype: float64

In [25]:
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

In [26]:
# subtracting two series using
# .sub
data.sub(data1, fill_value=0)

a    4.0
b   -4.0
c    3.0
d    3.0
e   -9.0
dtype: float64

### Conversion Operation on Series

In conversion operation we perform various operation like changing datatype of series, changing a series to list etc. In order to perform conversion operation we have various function which help in conversion like .astype(), .tolist() etc.

In [27]:
# Python program using astype
# to convert a datatype of series
 
# importing pandas module  
import pandas as pd 
   
# reading csv file from url  
data = pd.read_csv("nba.csv") 
    
# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
   
# storing dtype before converting 
before = data.dtypes 
   
# converting dtypes using astype 
data["Salary"]= data["Salary"].astype(int) 
data["Number"]= data["Number"].astype(str) 
   
# storing dtype after converting 
after = data.dtypes 
   
# printing to compare # Python program using astype
# to convert a datatype of series
 
# importing pandas module  
import pandas as pd 
   
# reading csv file from url  
data = pd.read_csv("nba.csv") 
    
# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
   
# storing dtype before converting 
before = data.dtypes 
   
# converting dtypes using astype 
data["Salary"]= data["Salary"].astype(int) 
data["Number"]= data["Number"].astype(str) 
   
# storing dtype after converting 
after = data.dtypes 
   
# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n") 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

BEFORE CONVERSION
 Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

AFTER CONVERSION
 Name         object
Team         object
Number       object
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary        int64
dtype: object

In [31]:
# Python program converting
# a series into list
 
# importing pandas module  
import pandas as pd  
   
# importing regex module 
import re 
     
# making data frame  
data = pd.read_csv("nba.csv")  
     
# removing null values to avoid errors  
data.dropna(inplace = True)  
   
# storing dtype before operation 
dtype_before = type(data["Salary"]) 
   
# converting to list 
salary_list = data["Salary"].tolist() 
   
# storing dtype after operation 
dtype_after = type(salary_list) 
   
# printing dtype 
print("Data type before converting = {}\nData type after converting = {}"
      .format(dtype_before, dtype_after)) 
   
# displaying list 
salary_list

Data type before converting = <class 'pandas.core.series.Series'>
Data type after converting = <class 'list'>

[7730337.0,
 6796117.0,
 1148640.0,
 1170960.0,
 2165160.0,
 1824360.0,
 3431040.0,
 2569260.0,
 6912869.0,
 3425510.0,
 1749840.0,
 2616975.0,
 845059.0,
 1500000.0,
 1335480.0,
 6300000.0,
 134215.0,
 1500000.0,
 19689000.0,
 1140240.0,
 947276.0,
 981348.0,
 947276.0,
 947276.0,
 11235955.0,
 8000000.0,
 1635476.0,
 22875000.0,
 845059.0,
 845059.0,
 1572360.0,
 12650000.0,
 3750000.0,
 1636842.0,
 4000000.0,
 167406.0,
 947276.0,
 1000000.0,
 4626960.0,
 845059.0,
 1074169.0,
 6500000.0,
 2144772.0,
 525093.0,
 3457800.0,
 4582680.0,
 947276.0,
 2869440.0,
 947276.0,
 525093.0,
 13600000.0,
 10050000.0,
 2500000.0,
 7000000.0,
 12000000.0,
 6268675.0,
 650000.0,
 3553917.0,
 245177.0,
 1509360.0,
 3873398.0,
 13800000.0,
 947276.0,
 11370786.0,
 2008748.0,
 14260870.0,
 11710456.0,
 1131960.0,
 845059.0,
 1270964.0,
 3815000.0,
 15501000.0,
 1100602.0,
 111444.0,
 5675000.0,
 525093.0,
 9650000.0,
 18907726.0,
 1100602.0,
 19689000.0,
 947276.0,
 21468695.0,
 3376000.0,
 7085000.0,
 3110796.0,
 1159680.0,
 3000000.0,
 845059.0,
 700000.0,
 845059.0,
 15592217.0,
 1724250.0,
 1155600.0,
 3132240.0,
 5103120.0,
 981348.0,
 947276.0,
 5219169.0,
 13500000.0,
 2127840.0,
 206192.0,
 1160160.0,
 981348.0,
 13500000.0,
 3807120.0,
 1035000.0,
 55722.0,
 947276.0,
 5500000.0,
 2041080.0,
 83397.0,
 981348.0,
 1015421.0,
 1449187.0,
 3398280.0,
 5013559.0,
 15851950.0,
 947276.0,
 525093.0,
 12403101.0,
 7700000.0,
 3156600.0,
 845059.0,
 9500000.0,
 845059.0,
 2250000.0,
 16407500.0,
 4500000.0,
 8500000.0,
 947276.0,
 2380440.0,
 1015421.0,
 13400000.0,
 1391160.0,
 20093064.0,
 1535880.0,
 1147276.0,
 8193029.0,
 16407501.0,
 947276.0,
 947276.0,
 1276000.0,
 19689000.0,
 111196.0,
 8988765.0,
 14260870.0,
 2100000.0,
 2500000.0,
 6500000.0,
 2170465.0,
 111444.0,
 1252440.0,
 2891760.0,
 845059.0,
 3272091.0,
 16000000.0,
 600000.0,
 13913044.0,
 2841960.0,
 6270000.0,
 5000000.0,
 3000000.0,
 4050000.0,
 1007026.0,
 17120106.0,
 8000000.0,
 4000000.0,
 1358880.0,
 211744.0,
 1100000.0,
 7000000.0,
 2357760.0,
 845059.0,
 1007026.0,
 3000000.0,
 2399040.0,
 947276.0,
 1662360.0,
 2943221.0,
 8000000.0,
 14700000.0,
 16407500.0,
 295327.0,
 845059.0,
 5152440.0,
 2109294.0,
 6600000.0,
 1733040.0,
 1449000.0,
 4290000.0,
 1100602.0,
 3950313.0,
 4053446.0,
 2085671.0,
 16407500.0,
 1270964.0,
 15361500.0,
 845059.0,
 947276.0,
 5378974.0,
 8193030.0,
 306527.0,
 6486486.0,
 8229375.0,
 1646400.0,
 200600.0,
 15756438.0,
 1000000.0,
 2489530.0,
 3189794.0,
 947276.0,
 1404600.0,
 5158539.0,
 5000000.0,
 3542500.0,
 4088019.0,
 9588426.0,
 700902.0,
 845059.0,
 1201440.0,
 1230840.0,
 9638555.0,
 9000000.0,
 5464000.0,
 8500000.0,
 1100602.0,
 3036927.0,
 2850000.0,
 7070730.0,
 169883.0,
 1164858.0,
 845059.0,
 10734586.0,
 845059.0,
 1320000.0,
 15514031.0,
 1015421.0,
 10595507.0,
 55722.0,
 3382023.0,
 19689000.0,
 1142880.0,
 947276.0,
 5250000.0,
 10000000.0,
 16407500.0,
 200600.0,
 250750.0,
 3578947.0,
 525093.0,
 1499187.0,
 2000000.0,
 1304520.0,
 2854940.0,
 12000000.0,
 1000000.0,
 5746479.0,
 18671659.0,
 947276.0,
 525093.0,
 3333333.0,
 8000000.0,
 947276.0,
 189455.0,
 947276.0,
 525093.0,
 6110034.0,
 2612520.0,
 6331404.0,
 3034356.0,
 5675000.0,
 2139000.0,
 12000000.0,
 7000000.0,
 4204200.0,
 22192730.0,
 10151612.0,
 2854940.0,
 261894.0,
 845059.0,
 5543725.0,
 525093.0,
 20000000.0,
 981348.0,
 2481720.0,
 947276.0,
 4171680.0,
 845059.0,
 1294440.0,
 2380593.0,
 5192520.0,
 2505720.0,
 4300000.0,
 11250000.0,
 5000000.0,
 4000000.0,
 5694674.0,
 4375000.0,
 561716.0,
 3300000.0,
 273038.0,
 8000000.0,
 1920240.0,
 4662960.0,
 2170465.0,
 1100602.0,
 200600.0,
 15851950.0,
 2814000.0,
 3000000.0,
 3533333.0,
 10449438.0,
 11235955.0,
 1584480.0,
 947276.0,
 4345000.0,
 258489.0,
 1474440.0,
 1282080.0,
 2148360.0,
 2056920.0,
 1938840.0,
 947276.0,
 5703600.0,
 5758680.0,
 2279040.0,
 3750000.0,
 20158622.0,
 3135000.0,
 1140240.0,
 16407500.0,
 1463040.0,
 222888.0,
 3344000.0,
 2021520.0,
 1210800.0,
 4500000.0,
 5138430.0,
 16744218.0,
 525093.0,
 8042895.0,
 625093.0,
 947276.0,
 6980802.0,
 2894059.0,
 6000000.0,
 5016000.0,
 3075880.0,
 4236287.0,
 2525160.0,
 525093.0,
 1415520.0,
 2854940.0,
 2637720.0,
 4775000.0,
 2658240.0,
 9463484.0,
 12000000.0,
 15409570.0,
 1348440.0,
 981348.0,
 2239800.0,
 2433333.0,
 947276.0]

### Binary operation methods on series:

    add()	Method is used to add series or list like objects with same length to the caller series
    sub()	Method is used to subtract series or list like objects with same length from the caller series
    mul()	Method is used to multiply series or list like objects with same length with the caller series
    div()	Method is used to divide series or list like objects with same length by the caller series
    sum()	Returns the sum of the values for the requested axis
    prod()	Returns the product of the values for the requested axis
    mean()	Returns the mean of the values for the requested axis
    pow()	Method is used to put each element of passed series as exponential power of caller series and returned the results
    abs()	Method is used to get the absolute numeric value of each element in Series/DataFrame
    cov()	Method is used to find covariance of two series

# Pandas DataFrame
It is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

### Creating a Pandas DataFrame

In the real world, a Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc. Dataframe can be created in different ways here are some ways by which we create a dataframe:

Creating a dataframe using List: DataFrame can be created using a single list or a list of lists.

In [33]:
# import pandas as pd
import pandas as pd
 
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

### Creating DataFrame from dict of ndarray/lists: 
To create DataFrame from dict of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

In [34]:
# Python code demonstrate creating 
# DataFrame from dict narray / lists 
# By default addresses.
 
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

### Column Selection: 
In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

In [35]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
print(df[['Name', 'Qualification']])

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [37]:
print (df) #printing all the dataframe contents of df

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

### Row Selection: 
Pandas provide a unique method to retrieve rows from a Data frame. DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame. Rows can also be selected by passing integer location to an iloc[] function.

Note: We’ll be using nba.csv file in below examples.

In [39]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")
 
# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
 
 
print(first, "\n\n\n", second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

### Indexing and Selecting Data

Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows and columns. Indexing can also be known as Subset Selection.

Indexing a Dataframe using indexing operator [] :

Indexing operator is used to refer to the square brackets following an object. The .loc and .iloc indexers also use the indexing operator to make selections. In this indexing operator to refer to df[].

### Selecting a single columns

In order to select a single column, we simply put the name of the column in-between the brackets

In [47]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")
 
# retrieving columns by indexing operator
first = data["Age"]
 
 
 
print(first)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64